@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/roboto-light-webfont.ttf');
}

textarea:focus, input:focus{
    outline: 0;
}

body{
    margin: 0;
    background: #f4f8ff;
}

p,a,h1,h2,h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #2a415c;
}

.clear{
    clear: both;
}

header {
    height: 50px;
    background: -webkit-linear-gradient(left, #92b6ff , #0051f5); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #92b6ff , #0051f5); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #92b6ff , #0051f5); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #92b6ff , #0051f5); /* Standard syntax (must be last) */
    position: relative;
    z-index: 30;
}

header .menu{
    left: 8px;
    top: 8px;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}
header .add-player{
    right: 8px;
    top: 8px;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

header h2{
    margin: 0;
    text-align: center;
    width: 100%;
    position: relative;
    top: 12px;
    font-size: 20px;
    color: #FFFFFF;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

#popup-nav{
    position: absolute;
    width: 100%;
    background: #FFFFFF;
    top: 50px;
    z-index:10;
    display: none;
}

#popup-nav #popup-nav-content {
    margin-top:10px;
}

#popup-nav #popup-nav-content .arrow-head{
    position: absolute;
    top: -6px;
    left: 16px;
}

#popup-nav #popup-nav-content .nav-block{
    width: 33.3%;
    float: left;
}

#popup-nav #popup-nav-content .nav-block img{
    display: block;
    margin: 0 auto;
    position: relative;
    top: 15px;
}

#popup-nav #popup-nav-content .nav-block h3{
    text-align: center;
    color: #acc7ff;
    position: relative;
    top: 5px;
}

.section{
    background: rgba(226, 242, 255, 0.5);
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    padding-bottom: 10px;
}

.section h2{
    margin: 0;
    float: left;
    left: 15px;
    position: relative;
    top: 5px;
}

.section .section-body{
    background: #e2f2ff;
    position: relative;
    left: -3%;
    width: 106%;
    margin-top: 10px;
    padding: 10px 0px;
}

.section .section-body .section-content{
    padding: 0px 10px;
}

.section .section-body .section-content p{
    margin: 0;
}

.section .section-body .section-content ul{
    margin: 0;
    margin-top: 10px;
    padding: 0;
}

.section .section-body .section-content ul li{
    list-style: none;
}

.section .section-body .section-content ul li img{
    float:right;
}

.section .section-body .section-content ul li #player_amount{
    float: left;
    font-size: 20px;
    font-weight: 500;
}

.section .section-body .section-content #player-image{
    float: left;
    width: 30%;
}

.section .section-body .section-content #player-name-section{
    float: right;
    width: 60%;
}
.section .section-body .section-content #player-name-section input{
    width: 94%;
}

.section .section-body .section-content #player-name-section input,
.section .section-body .section-content #player-email-section input{
    height: 20px;
    border: 5px solid #FFFFFF;
}

.section .section-body .section-content #player-description-section textarea{
    border: 5px solid #FFFFFF;
    width: 96%;
}

.section .section-body .section-content #player-name-section p, .section .section-body .section-content #player-email-section p, .section .section-body .section-content #player-description-section p, .section .section-body .section-content #player-position-section p{
    margin-bottom: 10px;
}

.section .section-body .section-content #player-email-section, .section .section-body .section-content #player-description-section,
.section .section-body .section-content #player-position-section{
    width: 100%;
    margin-top: 15px;
}

.section .section-body .section-content #player-email-section input{
    width: 97%;
}

.section .section-body .section-content #player-description-section textarea{
    height: 100px;
}

.section .section-body .section-content #player-position-section select{
    width: 100%;
    height: 50px;
    padding: 0 10px;
    border: 1px solid rgba(20, 39, 12, 0.25);
    font-family: 'RobotoLight';
    font-size: 16px;
}

.submit{
    width: 100%;
    margin: 0 auto;
    display:block;
    background: #2a415c;
    font-family: 'RobotoLight';
    font-size: 16px;
    color: #FFFFFF;
    height: 50px;
    text-decoration: none;
}

.submit p{
    margin: 0;
    position: relative;
    top: 13px;
    text-align: center;
    color: #FFFFFF;
}

.select-photo-type{
    width: 100%;
    position: fixed;
    bottom: 0;
    display: none;
    z-index: 10;
    transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -webkit-transition: opacity .5s ease-in-out;
    opacity: 0;
}

.select-photo-type.active{
    opacity: 1;
}

.select-photo-type .photo-lib, .select-photo-type .photo-camera{
    padding: 5px 0px;
}

.select-photo-type .photo-lib{
    background: #0152f5;
}

.select-photo-type .photo-camera{
    background: #92b6ff;
}

.select-photo-type .photo-lib h2, .select-photo-type .photo-camera h2{
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
}

.section .section-body .section-content #fin-player-image{
    float: left;
    width: 40%;
}

.section .section-body .section-content .finance-info{
    float: left;
    width: 100%;
}

.section .section-body .section-content .finance-info .figure{
    float: left;
}

.section .section-body .section-content #overall_payments{
    float: left;
    width: 60%;
    text-align: center;
}

.section .section-body .section-content .finance-info span{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #2a415c;
    font-size: 20px;
}

.section .section-body .section-content .finance-info input{
    width: 65px;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #2a415c;
    border: none;
    font-size: 20px;
    margin-left: 5px;
}

.section .section-body .section-content #fin-overall-subs, .section .section-body .section-content #fin-overall-fines{
    display: block;
}

.section .section-body .section-content .player_listing li img{
    width:50px;
    float: left;
}

.section .section-body .section-content .player_listing li .text-content{
    float: left;
    padding-left: 20px;
    position: relative;
    top: 7px;
}

.section .section-body .section-content .player_listing li .text-content h2{
    float:none;
    margin: 0;
    left: 0px;
    top: 0px;
    font-size: 16px;
}

.section .section-body .section-content .player_listing li .text-content p{
    font-size: 14px;
}

.section .section-body .section-content .player_listing li #player-arrow{
    width: 15px;
    top: 12px;
    float: right;
    position: relative;
}

.section .section-body .section-content .player_listing li .playerid-hidden{
    display: none;
}

.section .section-body .section-content .player-link{
    cursor: pointer;
}

.section .section-body .section-content .subs-fines .submit, .section .section-body .section-content .cash-subs, .section .section-body .section-content .cash-fines{
    float: right;
    width: 45%;
    height: 40px;
}

.section .section-body .section-content .subs-fines .submit p{
    top: 10px;
}

.overall-payment-form{
    background: #f5f5f7;
    z-index: 31;
    width: 85%;
    margin: 0 auto;
    position: fixed;
    top: 2%;
    border-radius: 10px;
    display: none;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.overall-payment-form input{
    height: 37px;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    padding: 0 6px 2px 29px;
    margin: 0;
    font-size: 15px;
    color: #000;
    border: 1px solid #cececf;
    border-top-color: #b5b5b6;
    border-bottom-color: #dededf;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
.overall-payment-form .form-payment-text{
    padding: 20px;
    background: #F2F2F2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #f0f0f2;
    background-image: -webkit-linear-gradient(#f5f5f7,#e9e9ea);
    background-image: -moz-linear-gradient(#f5f5f7,#e9e9ea);
    background-image: -ms-linear-gradient(#f5f5f7,#e9e9ea);
    background-image: -o-linear-gradient(#f5f5f7,#e9e9ea);
    background-image: linear-gradient(#f5f5f7,#e9e9ea);
    border-bottom: 1px solid #d3d3d4;
}

.overall-payment-form .form-payment-content{
    padding: 0px 20px 20px 20px;
}
.overall-payment-form h3{
    text-align: center;
    margin: 10px;
    font-weight: 400;
}
.overall-payment-form p{
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

.overall-payment-form input#card-number{
    margin-top: 20px;
    width: 100%;
    background: url(../img/card.png) no-repeat scroll 7px 12px #FFFFFF;
}

.overall-payment-form input#cvc{
    width: 100px;
    background: url(../img/lock.png) no-repeat scroll 7px 10px #FFFFFF;
}

.overall-payment-form input#month, .overall-payment-form input#year{
    width: 47%;
    background: url(../img/calender.png) no-repeat scroll 7px 12px #FFFFFF;
}

.overall-payment-form button{
    display: block;
    width: 100%;
    height: 37px;
    border: 0;
    background: #45b1e8;
    background-image: -webkit-linear-gradient(#45b1e8,#3097de);
    background-image: -moz-linear-gradient(#45b1e8,#3097de);
    background-image: -ms-linear-gradient(#45b1e8,#3097de);
    background-image: -o-linear-gradient(#45b1e8,#3097de);
    background-image: -webkit-linear-gradient(#45b1e8,#3097de);
    background-image: -moz-linear-gradient(#45b1e8,#3097de);
    background-image: -ms-linear-gradient(#45b1e8,#3097de);
    background-image: -o-linear-gradient(#45b1e8,#3097de);
    background-image: linear-gradient(#45b1e8,#3097de);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    outline: 0;
    font-weight: bold;
    font-size: 17px;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(46,86,153,0.3);
    -webkit-box-shadow: 0 1px 0 rgba(46,86,153,0.15),0 0 4px rgba(86,149,219,0),inset 0 2px 0 rgba(41,102,20,0);
    -moz-box-shadow: 0 1px 0 rgba(46,86,153,0.15),0 0 4px rgba(86,149,219,0),inset 0 2px 0 rgba(41,102,20,0);
    -ms-box-shadow: 0 1px 0 rgba(46,86,153,0.15),0 0 4px rgba(86,149,219,0),inset 0 2px 0 rgba(41,102,20,0);
    -o-box-shadow: 0 1px 0 rgba(46,86,153,0.15),0 0 4px rgba(86,149,219,0),inset 0 2px 0 rgba(41,102,20,0);
    box-shadow: 0 1px 0 rgba(46,86,153,0.15),0 0 4px rgba(86,149,219,0),inset 0 2px 0 rgba(41,102,20,0);
}

.payment-mask{
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    z-index: 30;
    display: none;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.payment-active, .ajax-loader.payment-active{
    opacity: 1;
}

.overall-payment-form .close-payments{
    position: absolute;
    right: 10px;
    top: 10px;
    background: #999999;
    border-radius: 20px;
    padding: 5px;
    width: 12px;
}

.ajax-loader{
    min-width: 100%;
    position: absolute;
    min-height: 100%;
    background: rgba(0, 0, 0, 0.52);
    border-radius: 10px;
    display: none;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    z-index: 32;
}

.ajax-loader img{
    position: absolute;
    top: 47%;
    left: 42%;
}

.recent-payment-list li{
    margin-bottom: 15px;
}

.recent-payment-list span{
    float: left;
    width: 60%;
}

.recent-payment-list span h3{
    margin: 0 0 10px 0px;
}

.recent-payment-list h2{
    float: right;
    font-size: 30px;
    left: 0;
    width: 40%;
    text-align: right;
}

.width-50{
    float:left;
    width: 50%;
}

.calender-payments p{
    margin: 10px 0px;
}

.calender-payments h3{
    margin: 10px 0px;
}

input#mydate{
    background: none;
    width: 100%;
    border: none;
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
    font-family: 'RobotoLight';
}

.finance-settings{
    position: absolute;
    width: 100%;
    background: #FFFFFF;
    top: 50px;
    z-index:10;
    display: none;
}

.finance-settings p, .finance-settings h3{
    padding: 10px;
    margin: 0;
}

.finance-settings input{
    width: 90%;
    margin-bottom: 10px;
    margin: 0 auto;
    display: block;
    text-align: center;
    font-family: 'RobotoLight';
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 20px;
    border: none;
    background: #e2f2ff;
    color: #2a415c;
}

.finance-settings .submit{
    width: 90%;
}

.finance-settings .submit p {
    top: 7px;
}

.finance-settings .arrow-head{
    position: absolute;
    right: 17px;
    top: -6px;
}

.finance-settings .submit.save_stripe{
    width: 30%;
    height: 30px;
    float: right;
    position: relative;
    right: 10px;
    top: 10px;
}

.finance-settings .submit.save_stripe p{
    top: 0px;
    padding: 5px;
}

.fixture-event-create h3{
    width: 40%;
    float: left;
    margin: 0;
    position: relative;
    top: 5px;
}

.fixture-event-create input{
    width: 58%;
    float: left;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    padding: 8px 8px;
    border: none;
    box-sizing: border-box;
    font-family: 'RobotoLight';
}

.fixture-event-create #newFixtureDate{
    background:none;
}

.fixture-event-create select{
    width: 27%;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    padding: 8px 8px;
    border: none;
    box-sizing: border-box;
    font-family: 'RobotoLight';
}

.submit.view-all{
    width: 100px;
    height: 35px;
    top: 5px;
    position: relative;
    float: right;
    right: 10px;
}
.submit.view-all p{
    top: 9px;
}

.section #left-content{
    width: 70%;
    float: left;
}

.section #left-content input {
    margin-bottom: 10px;
    display: block;
    font-family: 'RobotoLight';
    border: none;
    background: #e2f2ff;
    font-size: 20px;
    color: #2a415c;
}

.section #left-content h3{
    margin: 0;
    font-size: 15px;
}

.section #right-content{
    float: right;
    width: 30%;
}

.section #right-content h3{
    text-align: right;
    font-size: 26px;
    top: 12px;
    margin: 0;
    position: relative;
    right: 10px;
}
