@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/roboto-light-webfont.ttf');
}

textarea:focus, input:focus{
    outline: 0;
}

body{
    margin: 0;
    background: #f4f8ff;
}

p,a,h1,h2,h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #2a415c;
}

.clear{
    clear: both;
}

header {
    height: 50px;
    background: -webkit-linear-gradient(left, #92b6ff , #0051f5); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #92b6ff , #0051f5); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #92b6ff , #0051f5); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #92b6ff , #0051f5); /* Standard syntax (must be last) */
    position: relative;
    z-index: 30;
}

header .menu{
    left: 8px;
    top: 8px;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}
header .add-player{
    right: 8px;
    top: 8px;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

header h2{
    margin: 0;
    text-align: center;
    width: 100%;
    position: relative;
    top: 12px;
    font-size: 20px;
    color: #FFFFFF;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

#popup-nav{
    position: absolute;
    width: 100%;
    background: #FFFFFF;
    top: 50px;
    z-index:10;
}

#popup-nav{
    display: none;
}

#popup-nav #popup-nav-content {
    margin-top:10px;
}

#popup-nav #popup-nav-content .arrow-head{
    position: absolute;
    top: -6px;
    left: 16px;
}

#popup-nav #popup-nav-content .nav-block{
    width: 33.3%;
    float: left;
}

#popup-nav #popup-nav-content .nav-block img{
    display: block;
    margin: 0 auto;
    position: relative;
    top: 15px;
}

#popup-nav #popup-nav-content .nav-block h3{
    text-align: center;
    color: #acc7ff;
    position: relative;
    top: 5px;
}

.section{
    background: rgba(226, 242, 255, 0.5);
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    padding-bottom: 10px;
}

.section h2{
    margin: 0;
    float: left;
    left: 15px;
    position: relative;
    top: 5px;
}

.section .section-body{
    background: #e2f2ff;
    position: relative;
    left: -3%;
    width: 106%;
    margin-top: 10px;
    padding: 10px 0px;
}

.section .section-body .section-content{
    padding: 0px 10px;
}

.section .section-body .section-content p{
    margin: 0;
}

.section .section-body .section-content ul{
    margin: 0;
    margin-top: 10px;
    padding: 0;
}

.section .section-body .section-content ul li{
    list-style: none;
}

.section .section-body .section-content ul li img{
    float:right;
}

.section .section-body .section-content ul li #player_amount{
    float: left;
    font-size: 20px;
    font-weight: 500;
}

.section .section-body .section-content #player-image{
    float: left;
    width: 30%;
}

.section .section-body .section-content #player-name-section{
    float: right;
    width: 60%;
}
.section .section-body .section-content #player-name-section input{
    width: 94%;
}

.section .section-body .section-content #player-name-section input,
.section .section-body .section-content #player-email-section input{
    height: 20px;
    border: 5px solid #FFFFFF;
}

.section .section-body .section-content #player-description-section textarea{
    border: 5px solid #FFFFFF;
    width: 96%;
}

.section .section-body .section-content #player-name-section p, .section .section-body .section-content #player-email-section p, .section .section-body .section-content #player-description-section p, .section .section-body .section-content #player-position-section p{
    margin-bottom: 10px;
}

.section .section-body .section-content #player-email-section, .section .section-body .section-content #player-description-section,
.section .section-body .section-content #player-position-section{
    width: 100%;
    margin-top: 15px;
}

.section .section-body .section-content #player-email-section input{
    width: 97%;
}

.section .section-body .section-content #player-description-section textarea{
    height: 100px;
}

.section .section-body .section-content #player-position-section select{
    width: 100%;
    height: 50px;
    padding: 0 10px;
    border: 1px solid rgba(20, 39, 12, 0.25);
    font-family: 'RobotoLight';
    font-size: 16px;
}

.section .section-body .section-content .submit{
    width: 100%;
    margin: 0 auto;
    display:block;
    background: #2a415c;
    font-family: 'RobotoLight';
    font-size: 16px;
    color: #FFFFFF;
    height: 50px;
    text-decoration: none;
}

.section .section-body .section-content .submit p{
    margin: 0;
    position: relative;
    top: 13px;
    text-align: center;
    color: #FFFFFF;
}

.select-photo-type{
    width: 100%;
    position: fixed;
    bottom: 0;
    display: none;
    z-index: 10;
    transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -webkit-transition: opacity .5s ease-in-out;
    opacity: 0;
}

.select-photo-type.active{
    opacity: 1;
}

.select-photo-type .photo-lib, .select-photo-type .photo-camera{
    padding: 5px 0px;
}

.select-photo-type .photo-lib{
    background: #0152f5;
}

.select-photo-type .photo-camera{
    background: #92b6ff;
}

.select-photo-type .photo-lib h2, .select-photo-type .photo-camera h2{
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
}

.section .section-body .section-content #fin-player-image{
    float: left;
}

.section .section-body .section-content #finance-info{
    float: left;
    margin-left: 20px;
}

.section .section-body .section-content #finance-info p{
    margin-bottom: 10px;
}

.section .section-body .section-content #finance-info span{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #2a415c;
    font-size: 20px;
}

.section .section-body .section-content #finance-info input{
    width: 65px;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #2a415c;
    border: none;
    font-size: 20px;
    margin-left: 5px;
}

.section .section-body .section-content #fin-overall-subs, .section .section-body .section-content #fin-overall-fines{
    width: 90%;
    display: block;
    text-align: center;
}

.section .section-body .section-content .player_listing li img{
    width:50px;
    float: left;
}

.section .section-body .section-content .player_listing li .text-content{
    float: left;
    padding-left: 20px;
    position: relative;
    top: 7px;
}

.section .section-body .section-content .player_listing li .text-content h2{
    float:none;
    margin: 0;
    left: 0px;
    top: 0px;
    font-size: 16px;
}

.section .section-body .section-content .player_listing li .text-content p{
    font-size: 14px;
}

.section .section-body .section-content .player_listing li #player-arrow{
    width: 15px;
    top: 12px;
    float: right;
    position: relative;
}

.section .section-body .section-content .player_listing li .playerid-hidden{
    display: none;
}

.section .section-body .section-content .player-link{
    cursor: pointer;
}